<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lincyu.chapter8_album2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="空氣品質汙染指標"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="空氣品質汙染指標" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GridActivity" />
    </application>

</manifest>
